<!DOCTYPE html>
<html lang="en">


<body>
<header class="header">
  <nav class="navbar">
    <!--<a href="#" class="logo">Midway Travels</a>-->
    <img style="height: 28px" src="./assets/image/midway.png" alt="">
    <div class="nav-links">
      <a id="log" routerLink="/login" class="nav-link">Login</a>
      <a id="reg" routerLink="/signup" class="nav-link">Sign Up</a>
    </div>
  </nav>
</header>

<div class="container">
  <div class="content">
    <h1 class="welcome-heading">Welcome to Midway Travels</h1>
    <p class="welcome-text">Discover amazing destinations and plan your perfect journey.</p>
  </div>
  <div class="image-container">
    <img src="./assets/image/welcome.png" alt="Image">
  </div>
</div>
</body>

</html>
